@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f4f6;
  --text-color: #1e1e1e;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Work Sans", sans-serif;
  height: 100vh;
}

ul {
  list-style: none;
}

button,
a {
  background-color: var(--background);
  color: var(--text-color);
  font-family: inherit;
  cursor: pointer;
  border: none;
  background-color: inherit;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: unset;
}

.navbar header ul {
  flex-grow: 0 !important;
}

.bordered-button {
  border: 2px solid;
}

.custom-table div {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
}

.custom-thead {
  .bg-default-100 {
    background-color: #006fee33;
  }
}

.custom-table {
  border-collapse: separate;
  border-spacing: 0 8px;
}

.custom-table thead th {
  background-color: #006fee33;
  font-weight: 600;
  text-align: left;
}

.custom-table tbody tr {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.custom-table tbody td {
  padding: 12px 16px;
}

.custom-table tbody tr:hover {
  background-color: #f7faff;
}

.custom-table tbody tr:hover button {
  background-color: #006fee;
  color: white;
}

.custom-table span {
  text-transform: none;
}
