@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f4f6;
  --text-color: #1e1e1e;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Work Sans", sans-serif;
  height: 100vh;
}

ul {
  list-style: none;
}

button,
a {
  background-color: var(--background);
  color: var(--text-color);
  font-family: inherit;
  cursor: pointer;
  border: none;
  background-color: inherit;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
